@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

a {
    color: #f9faf8;
    text-decoration: none;
}
html {
    scroll-behavior: smooth;
}

ul {
    display: flex;

    list-style: none;
    margin: 0;
    padding: 0;
    gap: 16px;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'roboto';
}


.header {
    background-color: #1f2937;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 48px;
}


.hero-section {
    padding: 120px 0;
    background-color: #1f2937;
    justify-content: space-evenly;
    align-items: center;
    display: flex;

}

.hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 760px;
    padding: 0;
    margin: 0;
}

.hero {
    margin: 0;
    padding: 10px;
    width: 50%;
}

.hero img {
    width: 100%;
    height: auto;
}

.hero-main {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.hero-secondary {
    font-size: 18px;
    color: #e5e7eb;
    padding-bottom: 12px;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8
}

button {
    background-color: #3882f6;
    width: 200px;
    color: white;
    padding: 10px 25px;
    border-radius: 10px;
    font-weight: 700;
    font-size: larger;
    border: 3px solid white;
}

button:hover {
    border: solid #adb6ff;
}
.hero button {
    border: 3px solid #3882f6;
}

.info-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 150px;
    text-align: center;
}

.box {
    width: 150px;
    height: 150px;
    border: 5px solid #3882f6;
    border-radius: 10px;
}

.box:hover {
    border: 5px solid #ffffff;
}

.box img {
    width: 100%;
    height: auto;
}

.box-section {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin: 0;
    padding: 0;
    gap: 20px;
    width: 760px;
}

.information {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 120px 0;
    margin: 0;
    justify-content: center;
    align-items: center;
}

.information-header {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.quote-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
}

.quote-container {
    padding: 120px 0;
    width: 760px;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.quote-credit {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: end;
}

.call-to-action-section {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: white;
    padding: 120px 0px;
}

.call-to-action-container {
    width: 760px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #3882f6;
    padding: 0;
    border-radius: 10px;
    

}

.its-time {
    font-weight: 700;
    font-size: larger;
    margin: 0;
    padding: 0;
}

.call-to-action {
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 20px 60px;

}
.call-to-action-button-container {
    margin: 0;
    padding-right: 60px;
}

.footer {
    background-color: #1f2937;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 48px;
    color: white;
}

/* THANKS ANIA KUBOW AND THE ODIN PROJECT!!! */