@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

a {
    color:#f9faf8;
    text-decoration: none;
}
ul {
    display: flex;

    list-style: none;
    margin: 0;
    padding: 0;
    gap: 16px;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'roboto';
}


.header {
    background-color: #1f2937;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 48px;
}

.hero-container {
    background-color: #1f2937;

    justify-content: space-evenly;
    align-items: center;
    display: flex;
    margin: 0;
    padding: 48px;
    /* min-height: 600px; */
}
.hero {
    /* border: 2px solid magenta; */
    margin: 0;
    padding: 10px;
    width: 50%;
}
.hero img {
    width: 100%;
    height: auto;
}
.hero-main {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}
.hero-secondary {
    font-size: 18px;
    color: #e5e7eb
}
.header-logo {
    font-size: 24px;
    color: #f9faf8
}
button {
    background-color: #3882f6;
    width: 200px;
    color: white;
    padding: 10px 25px;
    border-radius: 10px;
    font-weight: 700;
    font-size: larger;
}
.call-to-action-container button {
    border: 3px solid white;

}
.info-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    width: 120px;
    text-align: center;
}
.box {
    width: 120px;
    height: 120px;
    border: 5px solid rgb(101, 155, 255);
    border-radius: 10px;
}
.box-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    gap: 20px;
}
.information {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 48px 70px;
    margin: 0;
    justify-content: center;
    align-items: center;
}
.information-header {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}
.quote-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
}
.quote-container {
    padding: 48px 200px;
    width: 650px;
}
.quote-text {
    
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}
.quote-credit {
    margin: 0;
    padding: 0;
    display: flex;

    justify-content: end;
}

.call-to-action-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.call-to-action-container {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #3882f6;
    margin: 48px 200px;
    width: 800px;
    padding: 20px 60px;
    border-radius: 10px;

}
.its-time {
    font-weight: 700;
    font-size: larger;
}
.call-to-action {
    display: flex;
    flex-direction: column;
    justify-self: center;
    
    padding-right: 60px;

}

.footer {
    background-color: #1f2937;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 48px;
    color: white;
}